# Trabalho da segunda unidade de Probabilidade
Esse trabalho possui como objetivo análisar os dados referentes a pesquisa no Instituto Metrópole Digital (IMD).

**Componentes**:
- <a href="https://github.com/alvarofpp">Álvaro Ferreira Pires de Paiva</a>
  - Matrícula: 2016039162
  - E-mail: alvarofepipa@gmail.com
- <a href="https://github.com/davir8">Davi Rodrigues de Medeiros</a>
  - Matrícula: 20160143888
  - E-mail:davirodrigues8@gmail.com

## Dados
Os dados utilizados forma retirados do site de <a href="http://dados.ufrn.br/">dados abertos da UFRN</a>. Foram utilizados os seguintes dados:
- <a href="http://dados.ufrn.br/dataset/bolsistas-de-iniciacao-cientifica">Bolsistas de Iniciação Científica</a>
- <a href="http://dados.ufrn.br/dataset/discentes">Discentes</a>
- <a href="http://dados.ufrn.br/dataset/docentes">Docentes</a>


###### Sumário
- [Preparando o ambiente](#ambiente)
- [Tratamento dos dados](#tratamento)
  - [Filtragem](#filtragem)
  - [Vinculação](#vinculacao)

## <a id="ambiente">Preparando o ambiente</a>
Nessa seção, iremos declarar as variáveis globais que iremos utilizar durante esse notebook, importar as libs necessárias e preparar os arquivos que temos para podermos utilizá-los nas seções seguintes.

In [2]:
# Imports
import os
import pandas as pd

In [3]:
# Caminhos dos arquivos
path_files = "files/"
path_discentes = path_files + "discentes/"

In [52]:
# Iremos pegar todos os discentes e filtrar-los em apenas os discentes do IMD
df_ingressantes_imd = pd.DataFrame()

for root, dirs, files in os.walk(path_discentes):
    for filename in files:
        print(root + filename)
        df_ingressantes = pd.read_csv((root + filename), sep=';')
        df_ingressantes_filter = df_ingressantes[df_ingressantes.nome_curso == "TECNOLOGIA DA INFORMAÇÃO"]
        df_ingressantes_imd = pd.concat([df_ingressantes_imd, df_ingressantes_filter])

files/discentes/discentes-2014
files/discentes/discentes-2018
files/discentes/discentes-2016
files/discentes/discentes-2010
files/discentes/discentes-2017
files/discentes/discentes-2013
files/discentes/discentes-2009
files/discentes/discentes-2015
files/discentes/discentes-2012
files/discentes/discentes-2011

In [53]:
# Remove as colunas que não nos servem para nada
df_ingressantes_imd = df_ingressantes_imd.drop(columns=['sigla_nivel_ensino', 'nivel_ensino',
                                  'id_curso', 'nome_curso',
                                  'id_unidade', 'nome_unidade',
                                 'id_unidade_gestora', 'nome_unidade_gestora'])

# Converte colunas que são float, mas deveriam ser double
df_ingressantes_imd.periodo_ingresso = df_ingressantes_imd.periodo_ingresso.astype('int64')

In [54]:
df_ingressantes_imd.head()

,matricula,nome_discente,ano_ingresso,periodo_ingresso,forma_ingresso,tipo_discente,status,modalidade_educacao
56,2.014065e+09,ADAUTO VIEIRA DE ARAÚJO GUEDES,2014,1,SiSU,REGULAR,CANCELADO,PRESENCIAL
135,2.014053e+09,ADRIANA ARAUJO DE ALBUQUERQUE ANDRADE,2014,1,SiSU,REGULAR,CANCELADO,PRESENCIAL
364,2.014065e+09,ALAN VITOR COSTA DE OLIVEIRA,2014,1,SiSU,REGULAR,ATIVO,PRESENCIAL
582,2.014024e+09,ALEXANDRE NELSON ALVES DE CARVALHO JUNIOR,2014,1,SiSU,REGULAR,ATIVO,PRESENCIAL
594,2.014057e+09,ALEXANDRE VITOR CUNHA DE MEDEIROS,2014,1,SiSU,REGULAR,CANCELADO,PRESENCIAL

In [57]:
# Salvamos o arquivo
df_ingressantes_imd.to_csv('data/discentes_imd.csv')